<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>In Home</title>
    <link rel="stylesheet" href="style.css" />

</head>

<body>
    <div class="container">
        <div class="menu-list">
            <img src="image/menu.png" alt="" />
        </div>
        <div class="content" id="app">
            <div class="show-item">
                <p class="name-list">Đề Xuất</p>
                <p class="length-list">1 / 8</p>
                <div class="list-item" :style="{right: currentPosition.y === 0 ? rightPercent + '%' : '0'}">
                    <div class="item" v-for="(item, index) in items">
                        <div class="box-item" :class="{selected: arrSelect[0][index]} ">
                            <img :src=item.image alt=" " :class="{selectedimg: arrSelect[0][index]} " />
                        </div>
                        <p class="nameItem " :class="{selectedname: arrSelect[0][index]}">{{item.title}}</p>
                    </div>
                </div>
            </div>
            <div class="show-item list-second ">
                <p class="name-list">Xu Hướng</p>
                <p class="length-list ">1 / 8</p>
                <div class="list-item " :style="{right: currentPosition.y === 1 ? rightPercent + '%' : '0'}">
                    <div class="item " v-for="(item, index) in items ">
                        <div class="box-item " :class="{selected: arrSelect[1][index]} ">
                            <img :src=item.image alt=" " :class="{selectedimg: arrSelect[1][index]} " />
                        </div>
                        <p class="nameItem ">{{item.title}}</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="js/vue.js "></script>
    <script src="js/jquery.min.js "></script>
    <script src="js/jquery-migrate.min.js "></script>
    <script src="js/main.js "></script>
</body>


</html>